#pragma once

// #define leds_house
// #define leds_tree_living
// #define leds_tree_yard
// #define leds_desk

#define STRANDS_WIFI_SSID "SSID"
#define STRANDS_WIFI_PASSWORD "PASSWORD"
#define STRANDS_OTA_PASSWORD "PASSWORD"
#define STRANDS_BRIGHTNESS 255
#define STRANDS_SECONDS_PER_PALETTE 30

#if defined(leds_tree_yard)
#define STRANDS_WIFI_NAME "LedsTreeYard"
#define STRANDS_NUMBER_STRANDS 9
#define STRANDS_WS2812FX_DEFAULT_MODE FX_MODE_MERRY_CHRISTMAS
#define STRANDS_ENABLE_WIFI
#define STRANDS_ENABLE_OTA
#endif

#if defined(leds_tree_living)
#define STRANDS_WIFI_NAME "LedsTreeLiving"
#define STRANDS_NUMBER_STRANDS 4
#define STRANDS_WS2812FX_DEFAULT_MODE FX_MODE_RUNNING_RANDOM2
#define STRANDS_ENABLE_WIFI
#define STRANDS_ENABLE_OTA
#define STRANDS_ENABLE_NTP
#endif

#if defined(leds_desk)
#define STRANDS_WIFI_NAME "LedsDesk"
#define STRANDS_NUMBER_STRANDS 4
#define STRANDS_WS2812FX_DEFAULT_MODE FX_MODE_BREATH
#define STRANDS_ENABLE_WIFI
#define STRANDS_ENABLE_OTA
#define STRANDS_ENABLE_NTP
#endif

#if defined(leds_house_eaves)
#define STRANDS_WIFI_NAME "LedsHouseEaves"
#define STRANDS_NUMBER_STRANDS 4
#define STRANDS_WS2812FX_DEFAULT_MODE FX_MODE_MERRY_CHRISTMAS
#define STRANDS_ENABLE_WIFI
#define STRANDS_ENABLE_OTA
#define STRANDS_ENABLE_NTP
#define STRANDS_ENABLE_SCHEDULE
#endif

#if !defined(STRANDS_WIFI_NAME)
#error Must define node name. Please check the README.
#endif

#define STRANDS_DATA_PIN 13 // Wemos D1 pin D7
#define STRANDS_LED_PIN 2
#define STRANDS_COLOR_ORDER RGB
#define STRANDS_FASTLED_TYPE WS2811
#define STRANDS_LEDS_PER_STRAND 50
#define STRANDS_NUMBER_LEDS (STRANDS_LEDS_PER_STRAND * STRANDS_NUMBER_STRANDS)

#define STRANDS_ENABLE_WS2812FX
#define STRANDS_WS2812FX_DEFAULT_COLOR 0xff5900
#define LedDriver Ws2812fxDriver

// #define STRANDS_ENABLE_FASTLED
// #define STRANDS_TEST_HALF
// #define STRANDS_TEST_FULL
// #define STRANDS_WS2812FX_DEFAULT_MODE FX_MODE_STATIC